{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h2>Blog Posts</h2>
<br/>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h3>{{ post.title }}</h3><br/>
    <small>By: {{ post.poster.username }}<br/>
        {{ post.date_posted.strftime('%Y-%m-%d') }}<br/><br/></small>
        {{ post.content|safe }}<br/><br/>

    <div class="card mb-3">
        <div class="row no gutters">
            <div class="col-md-2">
                {% if post.poster.profile_pic %}
                <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" width="120px" align="center">
                {% else %}
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" width="120px" align="left">
                {% endif %}
            </div>
        <div class="col-md-10">
            <div class="card-body">
                <h6 class="card-title">
                {{ post.poster.name }}
                </h6>
            <p class="card-text">
            {% if post.poster.about_author %}
            {{ post.poster.about_author }}
            {% else %}
                No text yet...
            {% endif %}
            </p>
            </div>
        </div>
    </div>
</div>



        <br/>
    <a href="{{ url_for('posts') }}" class="btn btn-outline-secondary btn-sm">Back to Blog</a>
    <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>

{% endblock %}

